#main-title {
  font-size: 200%;
}

.body-text {
  font-size: 125%;
}

button {
  margin: 10px 1px;
  padding: 10px 5px;
  border-width: 1px;
  border-color: #ddd;

}

.active-button {
  background-color: #3182ce;
  color: #fff;
}

input:read-only {
  background-color: #f5f5f5;
  border: 0;
}
